{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h5 class="card-title mb-3">Add Resource</h5>

                <form method="POST">
                    <input name="name" class="form-control mb-2" placeholder="Resource Name" required>
                    <input name="type" class="form-control mb-3" placeholder="Resource Type" required>

                    <button class="btn btn-secondary w-100">Add Resource</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title mb-3">Resources</h5>

                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in resources %}
                        <tr>
                            <td>{{ r.resource_name }}</td>
                            <td>{{ r.resource_type }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}
